.loading {
    height: calc(100vh - 12vh - 1.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #00932E;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


.movies-save {
    display: flex;
    flex-direction: column;
}

.movies-save h1 {
    text-align: center;
    margin-bottom: 1.8rem;
}

.not-movie {
    text-align: center;
}

.list li {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #7c7c7c;
    margin-bottom: 1.12rem;
}

.action {
    display: flex;
    align-items: baseline;
}

.action a {
    text-decoration: none;
    margin-right: 2.25rem;
    color: #000;
    font-weight: bold;
}

@media (max-width: 800px) {
    .list li p, .action a {
        font-size: .9rem;
    }
    
    .btn-delete {
        font-size: .7rem;
    }
}

@media (max-width: 630px) {
    .list li {
        flex-direction: column;
    }

    .list li p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}